#classic>.time-wrapper {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-body {
    font-family: "Open Sans", sans-serif;
    height: 80%;
    width: 80%;
    border-radius: 50%;
    position: relative;
}

.hand {
    background: white;
    border-radius: 15px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.second {
    background: var(--palette-color);
    width: 0.1rem;
    height: var(--sec-hand);
    transform: translateX(-50%) rotate(0deg);
    z-index: 3;
}

.minute {
    height: var(--min-hand);
    width: 0.3rem;
    transform: translateX(-50%) rotate(0deg);
    background: white;
}

.hour {
    height: var(--hour-hand);
    width: 0.4rem;
    background: white;
    transform: translateX(-50%) rotate(0deg);
    z-index: 21;
}

.hour-number {
    position: absolute;
    left: 50%;
    height: calc(50% - 4rem);
    transform-origin: bottom;
    color: var(--palette-color);
    user-select: none;
    font-size: 1.5rem;
    padding: 2rem;
    transition: 0.3s;
}

.hour-number::before {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    top: 0px;
    border-radius: 0px 0px 15px 15px;
    transform: translateX(-50%);
    background: var(--palette-color);
}

.hour-number::before {
    height: 25px;
    width: 4px;
    border-radius: 5px;
}

.minute-bar {
    position: absolute;
    left: 50%;
    width: 1rem;
    height: 50%;
    transform-origin: bottom;
    transform: rotate(20deg) translateX(-50%);
}

.minute-bar::before {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    top: 0px;
    border-radius: 0px 0px 15px 15px;
    transform: translateX(-50%);
    background: white;
}

.minute-bar::before {
    height: 14px;
    width: 2px;
    border-radius: 4px;
}

.calendar-date{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-dates {
    display: grid;
    grid-template-columns: repeat(7,30px);
    justify-items: center;
    gap: 20px;
}

.calendar-weekdays {
    display: grid;
    grid-template-columns: repeat(7,30px);
}

.calendar {
    font-family: "Open sans";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calendar-weekdays {
    gap: 20px;
    justify-items: center;
    margin-bottom: 30px;
}

.calendar-header {
    color: var(--palette-color);
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    justify-content: center;
}

.calendar-weekday-monday,
.calendar-weekday-tuesday,
.calendar-weekday-wednesday,
.calendar-weekday-thursday,
.calendar-weekday-friday,
.calendar-weekday-saturday,
.calendar-weekday-sunday {
    color: var(--palette-color);
}

.calendar-date-today{
    background-color: var(--palette-color);
    border-radius: 50%;
    aspect-ratio: 1/1;
}