@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

#modern {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    align-items: center;
    justify-items: center;
}

#modern>.time-wrapper>.time {
    font-family: "Oswald";
    font-size: 17rem;
    letter-spacing: -15px;
    transition: 1s;
    color: var(--palette-modern-color);
}

#modern>.information {
    font-family: "Oswald";
    font-size: 2rem;
    display: grid;
    grid-template-areas:
        "month year"
        "day-name date"
        "weather-icon temperature";
    ;
    /*variable grid withs for each column*/
    grid-template-columns: auto auto;
    gap: 10px;
    justify-self: start;
}


#modern>.information>.month,
.day-name {
    transition: 1s;
    color: var(--palette-modern-color);
}

#modern>.information>.weather-icon,
.temperature {
    margin-top: 3rem;
}

#modern>.information>.weather-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}