@font-face {
    font-family: 'Nunito';
    src: url('./src/Nunito-VariableFont_wght.ttf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

:root {
    --playful-hour-tens-rotation: 0deg;
    --playful-hour-ones-rotation: 0deg;
    --playful-dots-rotation: 0deg;
    --playful-minute-tens-rotation: 0deg;
    --playful-minute-ones-rotation: 0deg;

    --playful-hour-tens-translation: 0dvh;
    --playful-hour-ones-translation: 0dvh;
    --playful-minute-tens-translation: 0dvh;
    --playful-minute-ones-translation: 0dvh;
}

html,
body {
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
