@import url('https://fonts.googleapis.com/css2?family=Alata&family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html, body{
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.stand-by-screen-wrapper{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playful>.time-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#playful>.time-wrapper>.time{
    margin: -1.5rem;
    padding: 0;
    font-family: 'Alata', 'Arial', sans-serif;
    font-weight: bold;
    font-size: clamp(14rem, 16rem, 100px);
    transition: 1s;
    text-shadow: #000000 2px 2px 10px;
}

#playful>.time-wrapper>.dots{
    margin: -0.5rem;
    transform: translate(0,-2rem);
}
