@font-face {
    font-family: 'SF-Compact-Rounded-Heavy';
    src: url('./src/SF-Compact-Rounded-Heavy.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF-Compact-Rounded-Regular';
    src: url('./src/SF-Compact-Rounded-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --playful-hour-tens-rotation: 0deg;
    --playful-hour-ones-rotation: 0deg;
    --playful-dots-rotation: 0deg;
    --playful-minute-tens-rotation: 0deg;
    --playful-minute-ones-rotation: 0deg;

    --playful-hour-tens-translation: 0dvh;
    --playful-hour-ones-translation: 0dvh;
    --playful-minute-tens-translation: 0dvh;
    --playful-minute-ones-translation: 0dvh;
}

html,
body {
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/*Menu*/
.overlay{
    position: fixed;
    z-index: 2;
    width: 240px;
    height: 100dvh;
    background-image: linear-gradient(90deg, #13131300, #131313bb , #131313ea, black);
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;
}

.overlay:has(#toggle-menu:not(:checked)){
    right: -240px;
}

.overlay.show{
    opacity: 1;
    pointer-events: unset;
}

.toggle{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
}

.toggle:hover{
    background-color: #0000004b;
}

.toggle:active{
    background-color: #0000008e;
}

.toggle > label{
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

#toggle-menu{
    display: none;
}

#toggle-menu + label > i {
    position: absolute;
}

#toggle-menu + label > i {
    cursor: pointer;
}

#toggle-menu:checked + label > #open-menu{
    opacity: 0;
}

#toggle-menu:checked + label > #close-menu{
    opacity: 1;
}

#toggle-menu:not(:checked) + label > #open-menu{
    opacity: 1;
}

#toggle-menu:not(:checked) + label > #close-menu{
    opacity: 0;
}

.main-menu{
    display: flex;
    flex-direction: column;
}

.main-menu button{
    background-color: #00000000;
    color: white;
    border: 0;
    height: 50px;
    transition: 0.2s;
    cursor: pointer;
    font-family: 'SF-Compact-Rounded-Regular';
}

.main-menu button:hover{
    background-image: linear-gradient(90deg, #00000000, #0000004b, black);
}

.main-menu button:active{
    background-image: linear-gradient(90deg, #00000000, #0000008e, black);
}

.divider{
    background-image: linear-gradient(60deg, #00000000, white);
    height: 1px;
}

.sub-menu{
    display: none;
}

/*Time*/
.stand-by-screen-wrapper {
    width: 100dvw;
    height: 100dvh;
}

#playful {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/*General Sytling of Time Digits*/
#playful>.time-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*General Sytling of Time Digits*/
#playful>.time-wrapper>.time {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    line-height: 0;
    padding: 0;
    font-family: 'SF-Compact-Rounded-Heavy', 'Arial', sans-serif;
    font-size: 100dvh;
    transition: 1s;
    text-shadow: #000000 2px 2px 10px;
}

.time>p {
    transition: 1s;
    margin-top: 50dvh;
}

/*Rotation of Time Digits*/
#playful>.time-wrapper>.hour-tens>p {
    transform: rotate(var(--playful-hour-tens-rotation));
}

#playful>.time-wrapper>.hour-ones>p {
    transform: rotate(var(--playful-hour-ones-rotation));
}

#playful>.time-wrapper>.dots>p {
    transform: translate(0, -2rem) rotate(var(--playful-dots-rotation));
}

#playful>.time-wrapper>.minute-tens>p {
    transform: rotate(var(--playful-minute-tens-rotation));
}

#playful>.time-wrapper>.minute-ones>p {
    transform: rotate(var(--playful-minute-ones-rotation));
}

/*Position of Digits*/
#playful>.time-wrapper>.hour-tens {
    transform: translateY(var(--playful-hour-tens-translation));
}

#playful>.time-wrapper>.hour-ones {
    transform: translateY(var(--playful-hour-ones-translation));
}

#playful>.time-wrapper>.minute-tens {
    transform: translateY(var(--playful-minute-tens-translation));
}

#playful>.time-wrapper>.minute-ones {
    transform: translateY(var(--playful-minute-ones-translation));
}