@import url('https://fonts.googleapis.com/css2?family=Alata&family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --hand-width: 0.5rem;
    --sec-hand: 30%;
    --min-hand: calc(var(--sec-hand) * 0.85);
    --hour-hand: calc(var(--sec-hand) * 0.6);
    --palette-color: #c20a0a;
}

html,
body {
    /*prevent zoom*/
    touch-action: manipulation;
    
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.stand-by-screen-wrapper {
    width: 100dvw;
    height: 100dvh;
    transition: translate 500ms;
}

#playful {
    display: flex;
    justify-content: center;
    align-items: center;
}

#modern{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    align-items: center;
    justify-items: center;
}

#classic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    align-items: center;
    justify-content: center;
}